<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">NOWCAST</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown active" id="drop-down">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
          id="show-drop-down"
        >
          <a
            class="dropdown-item"
            href="https://timesofindia.indiatimes.com/india"
            >Trending</a
          >
          <a class="dropdown-item" href="#">Politics</a>
          <a class="dropdown-item" href="#">Sports</a>
          <a class="dropdown-item" href="#">Entertainment</a>
          <a class="dropdown-item" href="#">Finance</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Other news</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="profilepage.html">PROFILE</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=""><%= user.name %></a>
        </li>
        <li class="nav-item active">
          <a href="/users/logout" id="signoutlink" class="nav-link" href=""
            >signout</a
          >
        </li>
      </ul>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>